<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>select epub</title>
    <script src="@../../lib/jquery-3.3.1.min.js"></script>
    <script src="@../utils/WebviewMessageHelper.js"></script>
    <style>
        #files {
            padding: 0;
            margin: 15px 0 0 0;
        }
        #files li {
            cursor: pointer;
            padding: 3px 10px;
            list-style:none;
        }
        #files li.active {
            color: #3794ff !important;
        }
        #files li:hover {
            background: rgba(0, 0, 0, .5);
        }
        #files li[isdirectory=true] {
            color: aqua;
        }
    </style>
</head>
<body>
    <div>
        <button id="cancel">取消</button>&nbsp;&nbsp;
        <button id="confirm">确定</button>
    </div>
    <div>
        <ul id="files">

        </ul>
    </div>
<script>
(function() {

    const vscode = acquireVsCodeApi();
    const webviewMessageHelper = new WebviewMessageHelper(vscode);
    const $filesWrap = $("#files");
    const $confirm = $("#confirm");
    const $cancel = $("#cancel");

    let directoryTree = ['F:']; // 目录

    function renderDir(files) {

        if (directoryTree[directoryTree.length - 2]) {
            files.unshift({
                path: '..',
                isDirectory: true,
                filename: '..',
            });
        }

        const items = files.map((item) => {
            return `<li path="${item.path}" isdirectory="${item.isDirectory}">${item.filename}</li>`;
        });   
        
        $filesWrap.html(items.join(''));
    }

    function readDir(path) {
        webviewMessageHelper.emit({ command: 'readdir', path }, (res) => {
            const files = res.data;
            if (files) {
                renderDir(files);
            }
        });
    }

    $filesWrap.on('click', 'li', function() {
        $filesWrap.find('li').removeClass('active');
        $(this).addClass('active');
    });
    $filesWrap.on('dblclick', 'li[isdirectory=true]', function() {
        const path = $(this).attr('path');
        if (path === '..') {
            directoryTree.pop();
            readDir(directoryTree[directoryTree.length - 1]);
        } else {
            directoryTree.push(path);
            readDir(path);
        }
    });
    $confirm.click(function() {
        const $slt = $filesWrap.find('li[isdirectory!=true].active');
        if ($slt) {
            webviewMessageHelper.emit({ command: 'selectedBook', path: $slt.attr('path'), filename: $slt.text() }, (res) => {
                webviewMessageHelper.emit({ command: 'redirection', path: 'bookshelf' });
            });
        }
    });
    $cancel.click(function() {
        webviewMessageHelper.emit({ command: 'redirection', path: 'bookshelf' });
    });

    readDir(directoryTree[directoryTree.length - 1]);
}());
</script>
</body>
</html>