html, body {
    padding: 0;
    margin: 0;
    background-color:rgb(30, 30, 30);
}

.hover-show .hover-show-target {
    visibility: hidden;
}
.hover-show:hover .hover-show-target {
    visibility: visible;
}